<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.miage.covidair">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.activeandroid.app.Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <uses-library android:name="org.apache.http.legacy" android:required="false"/>

        <!-- Google Maps API Key -->
                <meta-data
                    android:name="com.google.android.geo.API_KEY"
                    android:value="AIzaSyDY7Jss-oxBTtQJ-yDP9xLseurySYX3l7E"/>

        <!-- Active Android Database definition -->
                <!-- DB Name -->
                <meta-data android:name="AA_DB_NAME" android:value="CovidAir" />
                <!-- DB Version -->
                <meta-data android:name="AA_DB_VERSION" android:value="1" />
                <!--Provider-->
                <provider
                    android:name="com.activeandroid.content.ContentProvider"
                    android:authorities="com.miage.covidair"
                    android:enabled="true"
                    android:exported="false">
                </provider>
                <meta-data
                    android:name="AA_MODELS"
                    android:value="com.miage.covidair.model.City.City,
                                   com.miage.covidair.model.Detail.Detail,
                                   com.miage.covidair.model.Location.Location,
                                   com.miage.covidair.model.Location.Coordinates,
                                   com.miage.covidair.model.Measurement.Measurement,
                                   com.miage.covidair.model.Location.Latest,
                                   com.miage.covidair.model.Favorite"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LocationsActivity" />
        <activity android:name=".DetailActivity" />
        <activity android:name=".MapActivity" />
        <activity android:name=".FavoriteActivity" />
    </application>

</manifest>